
<section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Table de multipication
        </h1>
        <h2 class="subtitle">
          easy to use
        </h2>
      </div>
    </div>
  </section>