<div class="row card-deck" *ngFor="let numbers of tab2">
  <div class="col-lg-3 col-md-6" >
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">La table de {{addValeur()}}</h5>
          <ol>
            <li style *ngFor="let numbers of tab">{{allTable}} X {{numbers.num}} = {{numbers.num * allTable}} </li>
          </ol>
        </div>
      </div>
    <br/>
</div>
</div>

