<app-header></app-header>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <h3 class="title is-3">Affiche une table </h3>
        <form [formGroup]="tableForm" (ngSubmit)="submit1()">
          <div class="field">
              <div class="control">
                <label>Enter un nombre</label>
                <p [ngClass]="{ 'has-error': isSubmitted && badNumber}">
                  <input class="input is-success" formControlName="num1" type="number" placeholder="">
                </p>
                <div *ngIf="isSubmitted && badNumber" class="help-block">
                  <div *ngIf="badNumber">Un nombre est demandé !</div>
                  </div>
              </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link">Generer le tableau</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<div *ngIf=num1>
  <app-table-multiplication [tableNum]="num1" ></app-table-multiplication>
</div>


<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <h3 class="title is-3">Affiche des colonne</h3>
        <form [formGroup]="tableForm" (ngSubmit)="submit2()">
          <div class="field">
              <div class="control">
                <label>Enter nombre entre 1 et 10</label>
                <p [ngClass]="{ 'has-error': isSubmitted && badNumber}">
                  <input class="input is-success" formControlName="num2" type="number" placeholder="">
                </p>
                <div *ngIf="isSubmitted && badNumber" class="help-block">
                  <div *ngIf="badNumber">Un nombre est demandé !</div>
                  </div>
              </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link">Generer le tableau</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<div *ngIf=num2>
<app-tables-multiplications [allTable]="num2"></app-tables-multiplications>
<div>




