<div class="container is-fluid" >
    <div class="notification is-primary">
      La table de {{afficheNombre()}}
      <ul>
          <li style *ngFor="let numbers of tab">{{tableNum}} X {{numbers.num}} = {{numbers.num * tableNum}} </li>
        </ul>
    </div>
</div>


